#%RAML 0.8
title: Email Service
version: b1
baseUri: "https://api.yaas.io/hybris/email/b1"
mediaType: application/json
schemas: 
    - 
        mail: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema",
                  "title" : "Mail",
                  "description" : "A descriptor for an email to be sent, having typical address fields. Also specifies a Velocity template to be used for rendering of the email's contents, as well as attribute values to be passed to the template.",
                  "type" : "object",
                  "properties" : {
                    "toAddress" : {
                      "description" : "The receiver's email address.",
                      "type" : "string",
                      "format" : "email",
                      "maxLength" : 200
                    },
                    "toName" : {
                      "description" : "The receiver's name.",
                      "type" : "string",
                      "minLength" : 1,
                      "pattern" : "^[\\p{L}0-9\\s]*$",
                      "maxLength" : 100
                    },
                    "fromAddress" : {
                      "description" : "The sender's email address.",
                      "type" : "string",
                      "format" : "email",
                      "maxLength" : 200
                    },
                    "templateCode" : {
                      "description" : "The code of the template.",
                      "type" : "string",
                      "pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-_.|]*$",
                      "maxLength" : 36,
                      "minLength" : 1
                    },
                    "templateOwner" : {
                      "description" : "The name of the client that owns the template.",
                      "type" : "string",
                      "pattern" : "^[a-z][a-z0-9]{2,15}[.][a-z][a-z0-9-]{0,30}[a-z0-9]$",
                      "maxLength" : 49,
                      "minLength" : 6
                    },
                    "locale" : {
                      "description" : "Locale to use for mail rendering.",
                      "type" : "string",
                      "pattern" : "^|[a-zA-Z]{2}|[a-zA-Z]{2}_[a-zA-Z]{2}$"
                    },
                    "attributes" : {
                      "description" : "Attribute values passed as context variables to the Velocity template.",
                      "type" : "array",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "Template Attribute",
                        "description" : "Template attribute used as context variable for Velocity rendering of the related template.",
                        "type" : "object",
                        "properties" : {
                          "key" : {
                            "description" : "The unique key of the template attribute.",
                            "type" : "string",
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                            "maxLength" : 36,
                            "minLength" : 1
                          },
                          "value" : {
                            "description" : "The value for the template attribute.",
                            "oneOf" : [ {
                              "type" : "number"
                            }, {
                              "type" : "boolean"
                            }, {
                              "type" : "array"
                            }, {
                              "type" : "object",
                              "additionalProperties" : true
                            }, {
                              "type" : "string"
                            } ],
                            "maxLength" : 10000
                          }
                        },
                        "required" : [ "key", "value" ]
                      }
                    }
                  },
                  "required" : [ "toAddress", "fromAddress", "templateCode", "templateOwner" ]
                }
    - 
        attribute: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template Attribute",
                  "description" : "Template attribute used as context variable for Velocity rendering of the related template.",
                  "type" : "object",
                  "properties" : {
                    "key" : {
                      "description" : "The unique key of the template attribute.",
                      "type" : "string",
                      "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                      "maxLength" : 36,
                      "minLength" : 1
                    },
                    "value" : {
                      "description" : "The value for the template attribute.",
                      "oneOf" : [ {
                        "type" : "number"
                      }, {
                        "type" : "boolean"
                      }, {
                        "type" : "array"
                      }, {
                        "type" : "object",
                        "additionalProperties" : true
                      }, {
                        "type" : "string"
                      } ],
                      "maxLength" : 10000
                    }
                  },
                  "required" : [ "key", "value" ]
                }
    - 
        attributeDefinition: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template attribute definition",
                  "description" : "Used to mark a template attribute as mandatory or optional.",
                  "type" : "object",
                  "properties" : {
                    "key" : {
                      "description" : "The unique key of the template attribute.",
                      "type" : "string",
                      "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                      "maxLength" : 36,
                      "minLength" : 1
                    },
                    "mandatory" : {
                      "description" : "True if it is mandatory, false if it is optional.",
                      "type" : "boolean"
                    }
                  },
                  "required" : [ "key", "mandatory" ]
                }
    - 
        templateDefinition: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template Definition",
                  "description" : "An email template used for rendering mails, identified by its code and owner. Furthermore, it defines supported attributes, and serves as a container for Velocity template files.",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "description" : "The code of the template, which must be referenced by a subsequent send email request that wants to use this template for rendering.",
                      "type" : "string",
                      "pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-_.|]*$",
                      "maxLength" : 36,
                      "minLength" : 1
                    },
                    "owner" : {
                      "description" : "The name of the client that owns the template.",
                      "type" : "string",
                      "pattern" : "^[a-z][a-z0-9]{2,15}[.][a-z][a-z0-9-]{0,30}[a-z0-9]$",
                      "maxLength" : 49,
                      "minLength" : 6
                    },
                    "name" : {
                      "description" : "The business (i.e. user friendly) name of the template.",
                      "type" : "string",
                      "maxLength" : 1000
                    },
                    "description" : {
                      "description" : "Description of the content and purpose of this template.",
                      "type" : "string",
                      "maxLength" : 5000
                    },
                    "definableAttributes" : {
                      "description" : "Attributes that are supported by this template and may/must be supplied by a subsequent send mail request that uses this template for rendering.",
                      "type" : "array",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "Template attribute definition",
                        "description" : "Used to mark a template attribute as mandatory or optional.",
                        "type" : "object",
                        "properties" : {
                          "key" : {
                            "description" : "The unique key of the template attribute.",
                            "type" : "string",
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                            "maxLength" : 36,
                            "minLength" : 1
                          },
                          "mandatory" : {
                            "description" : "True if it is mandatory, false if it is optional.",
                            "type" : "boolean"
                          }
                        },
                        "required" : [ "key", "mandatory" ]
                      }
                    }
                  },
                  "required" : [ "code" ]
                }
    - 
        templateDefinitionNoId: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template Definition without identification by code and owner",
                  "description" : "An email template used for rendering mails, identified by its code and owner. Furthermore, it defines supported attributes, and serves as a container for Velocity template files.",
                  "type" : "object",
                  "properties" : {
                    "description" : {
                      "description" : "Describes the content and purpose of this template.",
                      "type" : "string",
                      "maxLength" : 5000
                    },
                    "name" : {
                      "description" : "The business (i.e. user friendly) name of the template.",
                      "type" : "string",
                      "maxLength" : 1000
                    },
                    "definableAttributes" : {
                      "description" : "Attributes that are supported by this template and may/must be supplied by a subsequent send mail request that uses this template for rendering.",
                      "type" : "array",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "Template attribute definition",
                        "description" : "Used to mark a template attribute as mandatory or optional.",
                        "type" : "object",
                        "properties" : {
                          "key" : {
                            "description" : "The unique key of the template attribute.",
                            "type" : "string",
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                            "maxLength" : 36,
                            "minLength" : 1
                          },
                          "mandatory" : {
                            "description" : "True if it is mandatory, false if it is optional.",
                            "type" : "boolean"
                          }
                        },
                        "required" : [ "key", "mandatory" ]
                      }
                    }
                  },
                  "required" : [ ]
                }
    - 
        templateDefinitionWithFiles: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template Definition including Files",
                  "description" : "An email template used for rendering mails, identified by its code and owner. Furthermore, it defines supported attributes, and serves as a container for Velocity template files.",
                  "type" : "object",
                  "properties" : {
                    "code" : {
                      "description" : "The code of the template, which must be referenced by a subsequent send email request that wants to use this template for rendering.",
                      "type" : "string",
                      "pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-_.|]*$",
                      "maxLength" : 36,
                      "minLength" : 1
                    },
                    "owner" : {
                      "description" : "The name of the client that owns the template.",
                      "type" : "string",
                      "pattern" : "^[a-z][a-z0-9]{2,15}[.][a-z][a-z0-9-]{0,30}[a-z0-9]$",
                      "maxLength" : 49,
                      "minLength" : 6
                    },
                    "description" : {
                      "description" : "Description of the content and purpose of this template.",
                      "type" : "string",
                      "maxLength" : 5000
                    },
                    "name" : {
                      "description" : "The business (i.e. user friendly) name of the template.",
                      "type" : "string",
                      "maxLength" : 1000
                    },
                    "definableAttributes" : {
                      "description" : "Attributes that are supported by this template and may/must be supplied by a subsequent send mail request that uses this template for rendering.",
                      "type" : "array",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "Template attribute definition",
                        "description" : "Used to mark a template attribute as mandatory or optional.",
                        "type" : "object",
                        "properties" : {
                          "key" : {
                            "description" : "The unique key of the template attribute.",
                            "type" : "string",
                            "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                            "maxLength" : 36,
                            "minLength" : 1
                          },
                          "mandatory" : {
                            "description" : "True if it is mandatory, false if it is optional.",
                            "type" : "boolean"
                          }
                        },
                        "required" : [ "key", "mandatory" ]
                      }
                    },
                    "files" : {
                      "description" : "Velocity template files that represent the subject and body of this email template. Possibly available in several localized variants.",
                      "type" : "array",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "Template file",
                        "description" : "A file used by a mail template, like the Velocity template for the body.",
                        "type" : "object",
                        "properties" : {
                          "url" : {
                            "description" : "The path where the file can be retrieved.",
                            "type" : "string",
                            "format" : "uri",
                            "minLength" : 1
                          },
                          "type" : {
                            "description" : "The type of the template file. Can be 'body' or 'subject'.",
                            "type" : "string"
                          },
                          "locale" : {
                            "description" : "The locale of the template file. Can be null or a locale, e.g. 'de' or 'de_DE'.",
                            "type" : "string"
                          },
                          "sizeInBytes" : {
                            "description" : "The size of the file.",
                            "type" : "integer",
                            "minimum" : 0
                          }
                        },
                        "required" : [ "url", "sizeInBytes" ]
                      }
                    }
                  },
                  "required" : [ "code", "owner" ]
                }
    - 
        templateDefinitionsWithFiles: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema",
                  "title" : "Templates Definition List",
                  "description" : "List of template definitions.",
                  "type" : "array",
                  "items" : {
                    "$schema" : "http://json-schema.org/draft-04/schema#",
                    "title" : "Template Definition including Files",
                    "description" : "An email template used for rendering mails, identified by its code and owner. Furthermore, it defines supported attributes, and serves as a container for Velocity template files.",
                    "type" : "object",
                    "properties" : {
                      "code" : {
                        "description" : "The code of the template, which must be referenced by a subsequent send email request that wants to use this template for rendering.",
                        "type" : "string",
                        "pattern" : "^[a-zA-Z0-9][a-zA-Z0-9-_.|]*$",
                        "maxLength" : 36,
                        "minLength" : 1
                      },
                      "owner" : {
                        "description" : "The name of the client that owns the template.",
                        "type" : "string",
                        "pattern" : "^[a-z][a-z0-9]{2,15}[.][a-z][a-z0-9-]{0,30}[a-z0-9]$",
                        "maxLength" : 49,
                        "minLength" : 6
                      },
                      "description" : {
                        "description" : "Description of the content and purpose of this template.",
                        "type" : "string",
                        "maxLength" : 5000
                      },
                      "name" : {
                        "description" : "The business (i.e. user friendly) name of the template.",
                        "type" : "string",
                        "maxLength" : 1000
                      },
                      "definableAttributes" : {
                        "description" : "Attributes that are supported by this template and may/must be supplied by a subsequent send mail request that uses this template for rendering.",
                        "type" : "array",
                        "items" : {
                          "$schema" : "http://json-schema.org/draft-04/schema#",
                          "title" : "Template attribute definition",
                          "description" : "Used to mark a template attribute as mandatory or optional.",
                          "type" : "object",
                          "properties" : {
                            "key" : {
                              "description" : "The unique key of the template attribute.",
                              "type" : "string",
                              "pattern" : "^[a-zA-Z][a-zA-Z0-9_-]*$",
                              "maxLength" : 36,
                              "minLength" : 1
                            },
                            "mandatory" : {
                              "description" : "True if it is mandatory, false if it is optional.",
                              "type" : "boolean"
                            }
                          },
                          "required" : [ "key", "mandatory" ]
                        }
                      },
                      "files" : {
                        "description" : "Velocity template files that represent the subject and body of this email template. Possibly available in several localized variants.",
                        "type" : "array",
                        "items" : {
                          "$schema" : "http://json-schema.org/draft-04/schema#",
                          "title" : "Template file",
                          "description" : "A file used by a mail template, like the Velocity template for the body.",
                          "type" : "object",
                          "properties" : {
                            "url" : {
                              "description" : "The path where the file can be retrieved.",
                              "type" : "string",
                              "format" : "uri",
                              "minLength" : 1
                            },
                            "type" : {
                              "description" : "The type of the template file. Can be 'body' or 'subject'.",
                              "type" : "string"
                            },
                            "locale" : {
                              "description" : "The locale of the template file. Can be null or a locale, e.g. 'de' or 'de_DE'.",
                              "type" : "string"
                            },
                            "sizeInBytes" : {
                              "description" : "The size of the file.",
                              "type" : "integer",
                              "minimum" : 0
                            }
                          },
                          "required" : [ "url", "sizeInBytes" ]
                        }
                      }
                    },
                    "required" : [ "code", "owner" ]
                  }
                }
    - 
        fileInfo: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "Template file",
                  "description" : "A file used by a mail template, like the Velocity template for the body.",
                  "type" : "object",
                  "properties" : {
                    "url" : {
                      "description" : "The path where the file can be retrieved.",
                      "type" : "string",
                      "format" : "uri",
                      "minLength" : 1
                    },
                    "type" : {
                      "description" : "The type of the template file. Can be 'body' or 'subject'.",
                      "type" : "string"
                    },
                    "locale" : {
                      "description" : "The locale of the template file. Can be null or a locale, e.g. 'de' or 'de_DE'.",
                      "type" : "string"
                    },
                    "sizeInBytes" : {
                      "description" : "The size of the file.",
                      "type" : "integer",
                      "minimum" : 0
                    }
                  },
                  "required" : [ "url", "sizeInBytes" ]
                }
    - 
        errorMessage: |
                {
                  "$schema" : "http://json-schema.org/draft-04/schema#",
                  "title" : "error",
                  "description" : "schema for API specified errors",
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "integer",
                      "description" : "original HTTP error code, should be consistent with the response HTTP code",
                      "minimum" : 100,
                      "maximum" : 599
                    },
                    "type" : {
                      "type" : "string",
                      "description" : "classification of the error type, lower case with underscore eg validation_failure",
                      "pattern" : "[a-z]+[a-z_]*[a-z]+"
                    },
                    "message" : {
                      "type" : "string",
                      "description" : "descriptive error message for debugging"
                    },
                    "moreInfo" : {
                      "type" : "string",
                      "format" : "uri",
                      "description" : "link to documentation to investigate further and finding support"
                    },
                    "details" : {
                      "type" : "array",
                      "description" : "list of problems causing this error",
                      "items" : {
                        "$schema" : "http://json-schema.org/draft-04/schema#",
                        "title" : "errorDetail",
                        "description" : "schema for specific error cause",
                        "type" : "object",
                        "properties" : {
                          "field" : {
                            "type" : "string",
                            "description" : "a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                            "pattern" : "[a-z]+[a-z_]*[a-z]+"
                          },
                          "message" : {
                            "type" : "string",
                            "description" : "descriptive error detail message for debugging"
                          },
                          "moreInfo" : {
                            "type" : "string",
                            "format" : "uri",
                            "description" : "link to documentation to investigate further and finding support for error detail"
                          }
                        },
                        "required" : [ "type" ]
                      }
                    }
                  },
                  "required" : [ "status", "type" ]
                }
resourceTypes: 
    - 
        element: 
            displayName: element
            usage: ""
    - 
        collection: 
            displayName: collection
            usage: ""
traits: 
    - 
        oauth2: 
            description: |
                Supports OAuth 2.0 for authenticating all API requests.
            usage: Apply this trait to support OAuth 2.0 authentication.
    - 
        restricted: 
            description: |
                Indicates that a method is restricted and that it might return a 403 response
            usage: |
                Apply this trait to methods being protected in some way so that a call might
                be rejected in cause of lacking permissions
    - 
        paged: 
            description: |
                This trait adds query parameters to the request so that the result can be paginated on the server side.
                The specified parameters are page number and page size.
            usage: Apply this trait to a method returning a list of entities which should be paged.
    - 
        countable: 
            description: |
                This trait adds a query parameter to the request so that the response contains the total number 
                of objects fulfilling the criteria.
            usage: |
                Apply this to a method which returns the total number of objects fulfilling some criteria.
/{tenant}/send-async: 
    displayName: Queue an email for sending
    description: Adds an email to the email sending queue, causing it to be eventually sent to the specified recipient.
    uriParameters: 
        tenant: 
            description: |
                The project that requests this resource.
                Must match the project that is associated with the access token in the Authorization header.
            type: string
            required: true
            repeat: false
            pattern: "[a-z][a-z0-9]+"
            minLength: 3
            maxLength: 16
    is: [oauth2, restricted]
    post: 
        description: |
            Queues an email for sending and returns immediately.
            Uses the specified template to render the subject and body of the email and then passes the given attribute values to that template. 
            All of these inputs are passed in the request body. See its JSON schema for details.
            The caller must have the `hybris.email_send` scope assigned.
        headers: 
            Authorization: 
                description: |
                    Used to send a valid OAuth2 access token.
                type: string
                required: true
                repeat: false
                example: Bearer access_token
        body: 
            application/json: 
                schema: mail
                example: |
                    {
                      "toAddress": "John.Smith@hybristest.com",
                      "fromAddress": "noreply@yaas.io",
                      "toName": "John Smith",
                      "templateCode" : "orderTemplate",
                      "templateOwner" : "proj.order",
                      "locale" : "en_us",
                      "attributes":[
                            {
                                "key": "orderLink",
                                "value": "http://myShop.com/orders?id=3"
                            },
                            {
                                "key": "orderInfo",
                                "value": "Shipped"
                            }
                      ]
                    }
        responses: 
            "201": 
                description: Email successfully queued for sending
            "400": 
                description: |
                    Request syntactically incorrect. See more details in the provided response payload.
                body: 
                    application/json: 
                        schema: errorMessage
                        example: |
                            {
                              "status": 400,
                              "message": "Request syntactically incorrect.",
                              "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                              "type": "bad_payload_syntax"
                            }
            "500": 
                description: Internal Server Error
                body: 
                    application/json: 
                        schema: errorMessage
            "401": 
                description: |
                    Given request is unauthorized. Bad or expired token. Reauthenticate
                    the user. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status":401,
                              "message":"Authorization: Unauthorized. Bearer TOKEN is invalid",
                              "type":"insufficient_credentials",
                              "moreInfo":"https://api.yaas.io/patterns/errortypes.html"
                            }
            "403": 
                description: |
                    Evaluated request scopes in access token are not sufficient and do not match required scopes.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 403,
                              "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                              "type": "insufficient_permissions"
                            }

/{tenant}/send: 
    displayName: Send an email
    description: |
        Sends an email to a specified recipient.
        Sending emails from the "yaas.io" domain is disallowed. Emails which have a "fromAddress" which belong to the "yaas.io" domain will be automatically adjusted to the default project sender domain: *tenant*.mail.yaas.io.
        ***Deprecated:*** *Please use `/{tenant}/send-async` instead, which is functionally equivalent to this resource. This resource is only available for backward compatibility. It will not be removed from this path in the next major version of the Email service.*
    uriParameters: 
        tenant: 
            description: The project that requests this resource. Must match the project that is associated with the access token in the Authorization header.
            type: string
            required: true
            repeat: false
            pattern: "[a-z][a-z0-9]+"
            minLength: 3
            maxLength: 16
    is: [oauth2, restricted]
    post: 
        description: |
            Sends an email to a specified recipient. Uses the specified template to render the subject and body of the email and then passes the given attribute values to that template. All of these inputs are passed in the request body. See its JSON schema for details.
            The caller must have the `hybris.email_send` scope assigned.
        headers: 
            Authorization: 
                description: |
                    Used to send a valid OAuth2 access token.
                type: string
                required: true
                repeat: false
                example: Bearer access_token
        body: 
            application/json: 
                schema: mail
                example: |
                    {
                      "toAddress": "John.Smith@hybristest.com",
                      "fromAddress": "noreply@yaas.io",
                      "toName": "John Smith",
                      "templateCode" : "orderTemplate",
                      "templateOwner" : "proj.order",
                      "locale" : "en_us",
                      "attributes":[
                            {
                                "key": "orderLink",
                                "value": "http://myShop.com/orders?id=3"
                            },
                            {
                                "key": "orderInfo",
                                "value": "Shipped"
                            }
                      ]
                    }
        responses: 
            "201": 
                description: Email successfully sent
            "400": 
                description: |
                    Request syntactically incorrect. See more details in the provided response payload.
                body: 
                    application/json: 
                        schema: errorMessage
                        example: |
                            {
                              "status": 400,
                              "message": "Request syntactically incorrect.",
                              "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                              "type": "bad_payload_syntax"
                             }
            "500": 
                description: Internal Server Error
                body: 
                    application/json: 
                        schema: errorMessage
            "401": 
                description: |
                    Given request is unauthorized. Bad or expired token. Reauthenticate
                    the user. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status":401,
                              "message":"Authorization: Unauthorized. Bearer TOKEN is invalid",
                              "type":"insufficient_credentials",
                              "moreInfo":"https://api.yaas.io/patterns/errortypes.html"
                            }
            "403": 
                description: |
                    Evaluated request scopes in access token are not sufficient and do not match required scopes.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 403,
                              "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                              "type": "insufficient_permissions"
                            }
/{tenant}/templates: 
    displayName: Manage email templates
    description: Manages email templates for the rendering of emails to be sent by the /{tenant}/send resource.
    uriParameters: 
        tenant: 
            description: The project that requests this resource. Must match the project that is associated with the access token in the Authorization header.
            type: string
            required: true
            repeat: false
            pattern: "[a-z][a-z0-9]+"
            minLength: 3
            maxLength: 16
    type: collection
    is: [oauth2, restricted]
    get: 
        description: |
            Returns a list with all of the email templates and their metadata for a given project. The caller must have the `hybris.email_view` or `hybris.email_manage` scope assigned.
            This method uses a paging mechanism. If no paging parameters are provided, the default values are used.
        headers: 
            Authorization: 
                description: |
                    Used to send a valid OAuth2 access token.
                type: string
                required: true
                repeat: false
                example: Bearer access_token
        queryParameters: 
            pageNumber: 
                description: |
                    The page number to be retrieved where the size of the pages must be specified by the pageSize parameter.
                    The number of the first page is 1.
                type: integer
                required: false
                repeat: false
                minimum: 1
                default: "1"
                example: "1"
            pageSize: 
                description: |
                    The number of documents being retrieved on the page.
                type: integer
                required: false
                repeat: false
                minimum: 1
                default: "16"
                example: "16"
            totalCount: 
                description: |
                    This parameter requests to return the total number of object in the collection fulfilling
                    the criteria together with the response. This number will be returned in the 'hybris-count' 
                    header.
                type: boolean
                required: false
                repeat: false
                example: "true"
        responses: 
            "400": 
                description: |
                    Request was syntactically incorrect. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 400,
                              "message": "There are validation problems, see details section for more information",
                              "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                              "type": "validation_violation",
                              "details": [
                                {
                                  "field": "pageNumber",
                                  "message": "must be a positive number",
                                  "type": "invalid_query_parameter"
                                }
                              ]
                            }
            "401": 
                description: |
                    Given request is unauthorized. Bad or expired token. Reauthenticate
                    the user. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status":401,
                              "message":"Authorization: Unauthorized. Bearer TOKEN is invalid",
                              "type":"insufficient_credentials",
                              "moreInfo":"https://api.yaas.io/patterns/errortypes.html"
                            }
            "403": 
                description: |
                    Evaluated request scopes in access token are not sufficient and do not match required scopes.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 403,
                              "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                              "type": "insufficient_permissions"
                            }
            "200": 
                description: List of all templates.
                body: 
                    application/json: 
                        schema: templateDefinitionsWithFiles
                        example: |
                            [
                                {
                                    "code": "orderTemplate",
                                    "owner": "proj.order",
                                    "name": "Order Template",
                                    "description": "The order template",
                                    "files": [
                                        {
                                            "type": "body",
                                            "locale": "en",
                                            "url": "http://localhost:8080/templates/order/body_en",
                                            "sizeInBytes": 4
                                        }
                                    ],
                                    "definableAttributes":
                                    [
                                        {
                                            "key": "orderLink",
                                            "mandatory": true
                                        },
                                        {
                                            "key": "orderInfo",
                                            "mandatory": false
                                        }
                                    ]
                                },
                                {
                                    "code": "whaleTemplate",
                                    "owner": "proj.whale",
                                    "name": "Whale Template",
                                    "description": "The whale template",
                                    "files": [],
                                    "definableAttributes":
                                    [
                                        {
                                            "key": "name",
                                            "mandatory": true
                                        },
                                        {
                                            "key": "size",
                                            "mandatory": false
                                        }            
                                    ]
                                }
                            ]
                headers: 
                    Link: 
                        description: |
                            Link to the current page, the next page and the previous page. Marked accordingly with *rel* **self**, *rel* **next** and *rel* **prev**. The syntax must be conform to [RFC-5988](https://tools.ietf.org/html/rfc5988).
                            The link to the current page (**self**) is required and must be provided always.
                            The link to the next page (**next**) is optional. If not present, the next page is not available, as the current page is the last page of the result.
                            The link to the previous page (**prev**) is optional. If not present, the previous page is not available, as the current page is the first page of the result.
                        type: string
                        required: true
                        repeat: true
                        example: '<http://sample.com?pageNumber=2&pageSize=10>; rel="self", <http://sample.com?pageNumber=3&pageSize=10>; rel="next"'
                    hybris-count: 
                        description: |
                            The total number of objects that fulfil the criteria.
                        type: integer
                        required: false
                        repeat: false
                        example: "1000"
            "500": 
                description: |
                    Some server side error occurred.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 500,
                              "message": "Something went wrong while processing the request. Please contact the administrator.",
                              "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                              "type": "internal_service_error"
                            }
        is: [paged, countable]
    post: 
        description: |
            Creates a new email template by specifying its code and owner, an optional description, and an attribute list. All of these inputs are passed in the request body. See its JSON schema for details.
            The caller must have the `hybris.email_manage` scope assigned.
        headers: 
            Authorization: 
                description: |
                    Used to send a valid OAuth2 access token.
                type: string
                required: true
                repeat: false
                example: Bearer access_token
        body: 
            application/json: 
                schema: templateDefinition
                example: |
                    {
                      "name" : "Order confirmation",
                      "description" : "An email template for sending order confirmation.",
                      "code" : "orderTemplate",
                      "owner" : "proj.order",
                      "definableAttributes" :
                      [
                            {
                                "key": "orderLink",
                                "mandatory": true
                            },
                            {
                                "key": "orderInfo",
                                "mandatory": false
                            }
                      ]
                    }
        responses: 
            "401": 
                description: |
                    Given request is unauthorized. Bad or expired token. Reauthenticate
                    the user. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status":401,
                              "message":"Authorization: Unauthorized. Bearer TOKEN is invalid",
                              "type":"insufficient_credentials",
                              "moreInfo":"https://api.yaas.io/patterns/errortypes.html"
                            }
            "403": 
                description: |
                    Evaluated request scopes in access token are not sufficient and do not match required scopes.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 403,
                              "message": "Given request does not have required scopes in access token. It is not authorized to perform this operation.",
                              "type": "insufficient_permissions"
                            }
            "201": 
                description: The request has been fulfilled and resulted in a new template being created.
                body: 
                    application/json: 
                        schema: templateDefinition
                        example: |
                            {
                              "name" : "Order confirmation",
                              "description" : "An email template for sending order confirmation.",
                              "code" : "orderTemplate",
                              "owner" : "proj.order",
                              "definableAttributes" :
                              [
                                    {
                                        "key": "orderLink",
                                        "mandatory": true
                                    },
                                    {
                                        "key": "orderInfo",
                                        "mandatory": false
                                    }
                              ]
                            }
                headers: 
                    Location: 
                        description: |
                            The Location of the new resource which was created by the request.
                            The value consists of a single absolute URI.
                        type: string
                        required: true
                        repeat: false
                        example: "http://www.hybris.com/items/myItem"
            "400": 
                description: Request syntactically incorrect. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
                                  "type":"array",
                                  "description":"list of problems causing this error",
                                  "items":
                                  {
                                    "$schema":"http://json-schema.org/draft-04/schema#",
                                    "title":"errorDetail",
                                    "description":"schema for specific error cause",
                                    "type":"object",
                                    "properties":
                                    {
                                      "field":
                                      {
                                        "type":"string",
                                        "description":"a bean notation expression specifying the element in request data causing the error, eg product.variants[3].name, this can be empty if violation was not field specific"
                                      },
                                      "type":
                                      {
                                        "type":"string",
                                        "description":"classification of the error detail type, lower case with underscore eg missing_value, this value must be always interpreted in context of the general error type.",
                                        "pattern":"[a-z]+[a-z_]*[a-z]+"
                                      },
                                      "message":
                                      {
                                        "type":"string",
                                        "description":"descriptive error detail message for debugging"
                                      },
                                      "moreInfo":
                                      {
                                        "type":"string",
                                        "format":"uri",
                                        "description":"link to documentation to investigate further and finding support for error detail"
                                      }
                                    },
                                    "required":["type"]
                                  }
                                }
                              },
                              "required":["status" , "type" ]
                            }
                        example: |
                            {
                              "status": 400,
                              "message": "The request payload has incorrect syntax.",
                              "moreInfo": "https://api.yaas.io/patterns/errortypes.html",
                              "type": "bad_payload_syntax"
                            }
            "409": 
                description: |
                    Creation failed because there was a conflict with another resource. Any details will be provided within the response payload.
                body: 
                    application/json: 
                        schema: |
                            {
                              "$schema":"http://json-schema.org/draft-04/schema#",
                              "title":"error",
                              "description":"schema for API specified errors",
                              "type":"object",
                              "properties":
                              {
                                "status":
                                {
                                  "type":"integer",
                                  "description":"original HTTP error code, should be consistent with the response HTTP code",
                                  "minimum":100,
                                  "maximum":599
                                },
                                "type":
                                {
                                  "type":"string",
                                  "description":"classification of the error type, lower case with underscore eg validation_failure",
                                  "pattern":"[a-z]+[a-z_]*[a-z]+"
                                },
                                "message":
                                {
                                  "type":"string",
                                  "description":"descriptive error message for debugging"
                                },
                                "moreInfo":
                                {
                                  "type":"string",
                                  "format":"uri",
                                  "description":"link to documentation to investigate further and finding support"
                                },
                                "details":
                                {
[...]
